result1 = ping_result.results
result2 = connection_out.results


{{ result1.item  }} {{ result1.stdout_lines[1] | regex_search('time=([0-9].[0-9][0-9][0-9]+)') | regex_replace('time=') }}
telnet={{ result2.state }}
